@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,700&display=swap');
*{
    font-family: Open Sans;
}

.hero-container{
    background-color: #009383;
    width: full;
    height: fit;

}

.header {
    font-size: 4rem;
    font-weight: bold;
    color: white;
    padding: 6rem 0 0 4rem;
    margin-bottom: 3rem;

}

.text-container{
    background-color: white;
    width: 90%;
    height: contain;
    margin: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.text-image-container{
    display: flex;
}

.image {
    height: 15rem;
    width: 12rem;
}

.text-next-to-image{
    padding-right: 3rem;
}

p {
    font-size: .85rem;
}

.pay-option-header{
    text-align: center;
    margin-top: 2rem;
}

.pay-option-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pay-options-row{
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.pay-option-card{
    background-color: #D3D3D3;
    height: 8rem;
    width: 7rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    text-align: center;
}

.pay-option-logo {
    height: 5rem;
    width: 5rem;
    display: block;
}

.pay-option-monthly {
    background-color: #655DC6;
    padding: .25rem 1.5rem;
    align-self: center;
    margin: 2rem 0;

}

.donate-transparency {
    align-self: center;
    font-weight: extra-bold;
    margin-top: 5rem;
    font-size: 3rem;
}

@media only screen and (max-width: 768px){

.donate-transparency {
    align-self: center;
    font-weight: extra-bold;
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

}

.donate-script {
font-family: 'Seaweed Script', cursive;
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-009383);
text-align: left;
font: normal normal normal 146px/213px Tahu!;
letter-spacing: 0px;
color: #009383;
opacity: 1;
font-size: 4.5rem;
font-weight: normal;
}


@media only screen and (max-width: 768px){

.donate-script {
    font-size: 2.5rem;
    text-align: left;
    padding: 3rem 0;
}

}


.donate-sub-header{
    align-self: center;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

button {
    background-color: black;
    color: white;
}

img {
    height: 3rem;
}
